// app list with images

.appListImg{
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
}

// app list without images
.appList{
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
}
