:root {
    --main-bg: #fff;
    --card-bg: #e9eaed;
    --textColor: #333;
    --altTextColor: #fff;
    --accent: #9b2eff;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: var(--main-bg);
    color: var(--textColor);
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 50px;

}

.popular{
    padding: 20px 0;
    padding-bottom: 50px;

    h2{
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    h3{
        opacity: 0.75;
    }
}


.bottomBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #9b2eff; 
    color: #fff;
    line-height: 50px;
    box-shadow: -3px -6px 20px rgba(0, 0, 0, 0.18);


    .inner{
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-self: center;

        button{
            background-color: var(--main-bg);
            border: 0px;
            outline: 0px;
            height: 35px;
            margin-top: 8px;
            font-size: 15px;
            border-radius: 50px;
            padding: 0 20px;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &:hover{
               background-color: var(--card-bg);
            }
        }
    }

    p{
        padding: 0px;
        margin: 0px;
    }
}

#gsc{
    display: none;
}