.light {
    --main-bg: #fff;
    --card-bg: #e9eaed;
    --textColor: #333;
    --altTextColor: #fff;
    --accent: #9b2eff;
    --altAccent: #7214c9;
}

.dark {
    --main-bg: rgb(18, 18, 18);
    --card-bg: #2d2e30;
    --textColor: rgb(255, 255, 255);
    --altTextColor: #333;
    --accent: #9b2eff;
     --altAccent: #6b14bd;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: var(--main-bg);
    color: var(--textColor);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


header{
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
        font-weight: 700;
        font-size: 28px;
        color: var(--accent);
        border-bottom: 5px solid var(--textColor);
        transition: 0.3s all ease-in-out;

        &:hover{
            border-bottom: 5px solid var(--accent);
        }
    }
}

.dark{
    header{
        a {
            color: var(--textColor);
            border-bottom: 5px solid var(--accent);

            &:hover{
                color: var(--accent);
            }
        }
    }

    .button.accent{ 
        background-color: var(--accent);
        color: var(--textColor);
        margin-right: 20px;

        &:hover, &:focus{
            opacity: 1;
            background-color: var(--altAccent);
        }
    }
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 50px;
}


input[type="text"]{
    border: 0px;
    outline: 0px;
    border-radius: 50px;
    height: 50px;
    background-color: var(--card-bg);
    padding: 0 20px;
    font-size: 17px;
    min-width: 250px;
    color: var(--textColor);
}

.box{
    display: flex;
    justify-content: space-between;
}

.illu-box{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .art{
        height: 0px;
        position: relative;

        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            display: block;
            max-width: 280px;
        }
    }
}

.generate-container{
    .art{
        margin-top: 50px;
    }
}

.popular{
    padding: 20px 0;
    padding-bottom: 50px;

    li{
        padding-bottom: 0px !important;
    }

    h2{
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    h3{
        opacity: 0.75;
    }
}


.bottomBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #9b2eff; 
    color: #fff;
    line-height: 50px;
    box-shadow: -3px -6px 20px rgba(0, 0, 0, 0.18);
    
    .inner{
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-self: center;

        p{
            line-height: 58px;
            font-size: 18px;
        }

        button{
            background-color: var(--main-bg);
            border: 0px;
            outline: 0px;
            height: 35px;
            margin-top: 8px;
            font-size: 15px;
            border-radius: 50px;
            padding: 0 20px;
            cursor: pointer;
            color: var(--textColor);
            transition: 0.3s all ease-in-out;

            &:hover{
               background-color: var(--card-bg);
            }
        }
    }

    p{
        padding: 0px;
        margin: 0px;
    }
}

#gsc{
    display: none;
}

.button{
    background-color: var(--card-bg);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
    font-size: 18px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.18);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    border: 0px;
    outline: 0;

    &:hover, &:focus{
        opacity: 0.75;
    }
} 

.button.accent{ 
    background-color: var(--accent);
    color: var(--altTextColor);
    margin-right: 20px;

    &:hover, &:focus{
        opacity: 1;
        background-color: var(--altAccent);
    }
}
