.nav{
    span{
        font-size: 18px;
        background-color: var(--card-bg);
        padding: 5px 20px;
        border-radius: 50px;
        cursor: pointer;
        user-select: none;
        transition: 0.3s all ease-in-out;

        &:hover{
            opacity: 0.75;
        }
    }
}