.searchResults{
    list-style-type: none;
    padding: 0px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    margin-top: 50px;;
}

@media(max-width: 1280px){
   .searchResults{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   }
}

@keyframes tears {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    opacity: 0;
    animation: tears 0.1s 0.3s forwards ease;
} 

