.searchResults{
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}

@media(max-width: 1200px){
   .searchResults{
        grid-template-columns: repeat(3, 1fr);
   }
}

@media(max-width: 1000px){
   .searchResults{
        grid-template-columns: repeat(2, 1fr);
   }
}

@media(max-width: 680px){
   .searchResults{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   }
}

@keyframes tears {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.loader{
    position: absolute;
    left: 50%;
    margin: 35px 0;
    opacity: 0;
    animation: tears 0.1s 0.3s forwards ease;
} 


.searchBox{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 50px;
    background-color: var(--card-bg);
    min-width: 300px;
    display: inline-block;
    line-height: 55px;

    span{
        padding-left: 15px;
    }

    input[type="text"]{
        border: 0px;
        outline: 0px;
        background-color: transparent;
        height: 50px;
        padding: 0 15px;
        font-size: 17px;
        line-height: 50px;
        
        color: var(--textColor);
        
    }

}

@media(max-width: 495px){
    .searchBox{
        width: 100%;
    }

    input[type=text]{
        width: calc(100% - 65px) !important;
    }
}

.noresults{
    position: absolute;
}