li{
    background-color: var(--card-bg);
    padding: 20px;
    border: 5px solid var(--card-bg);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s all ease-in-out;

    .imgContainer{
        min-height: 80px;
        position: relative;
        
        img{
            width: 80px;
            height: auto;
            margin: 0 auto;
            display: block;
            user-select: none;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    p{
        text-align: center !important;
        font-size: 18px;
        margin: 0px;
        padding: 20px 0;
    }

    &:hover{
       opacity: 0.75;
    }


    h3, h4{
        margin-top: 0px;
        margin-bottom: 5px;
    }

    h4{
        margin-top: 0px;
        margin-bottom: 5px;
        opacity: 0.75;
    }

    em{
        font-style: normal;
        font-size: 15px;
        opacity: 0.75;
    }
    
}


.selected{
    border: 5px solid var(--accent);
}

.imgHeader{
    text-align: center;
    padding: 20px;
    margin: 0px;
}