// app list with images

.appList{
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;

    h3{
        display: block;
        padding-bottom: 0px;
    }
}