// app list with images

.appListImg{
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;

    h3{
        display: block;
    }
}