.container{
    min-height: 300px;
    transition: 0.1s all ease-in-out;
    box-shadow: 0px 3px 5px #00000026;
    padding: 20px 50px;
    border-radius: 10px;
    position: relative;

    img{
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
        opacity: 0.75;
    }

    .slogan{
        position: absolute;
        bottom: 50px;
        color: #fff;

        h3{
            margin: 0px;
        }

        h1{
            margin: 0px;
            max-width: 600px;
        }
    }

    .hide{
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50px;
        border: 0px;
        outline: 0px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s all ease-in-out;
        cursor: pointer;

        &:hover{
            opacity: 0.75;
        }
    }
}

@media(max-width: 1300px){
    .container{
        img{
            max-width: 500px;
        }
    }
}

@media(max-width: 995px){
    .container{
        img{
            max-width: 450px;
        }
    }
}

@media(max-width: 900px){
    .container{
        padding: 15px 30px;

        img{
            display: none;
        
        }
    }
}

@media(max-width: 750px){
    .container{
        min-height: auto;
        height: auto;

        .slogan{
            position: initial;
            padding: 30px 0px;
        }

        h1{
            font-size: 22px;
        }
    }
}

