.footer {
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-content: center;
    align-tracks: center;

    .brand {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        p {
            margin: 0px;
            font-size: 17px;
            margin-top: 2px;
            opacity: 0.75;
        }

        em {
            margin: 0px;
            font-size: 14px;
            opacity: 0.75;
            font-style: normal;
        }
    }

    a {
        color: var(--textColor);
        text-decoration: none;
        transition: 0.3s all ease-in-out;

        &:hover {
            color: var(--accent);
        }
    }

    img {
        width: 30px;
        transition: 0.3s all ease-in-out;
        padding-top: 5px;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
            opacity: 0.75;
        }
    }

    .heart {
        color: #af0d16;
    }

    ul {
        display: flex;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        font-size: 17px;
        align-items: center;

        li {
            margin-left: 20px;

            a {
                opacity: 0.75;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}


.backToTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--card-bg);
    color: var(--textColor);
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    opacity: 0.75;
    text-align: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    font-size: 22px;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;

    svg {
        padding-top: 15px;
    }

    &:hover,
    &:focus {
        opacity: 1;
        color: var(--textColor) !important;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.75;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.75;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.75;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.75;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.75;
    }
}

@media(max-width: 1490px) and (min-width: 791px) {
    .selectionOpen.backToTop {
        bottom: 90px;
    }
}


@media(max-width: 490px) {
    .footer {
        flex-direction: column;
        justify-content: center;

        .brand {
            margin: 0 auto;
            margin-bottom: 10px;
        }

        ul {
            justify-content: center;
            font-size: 15px;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 10px;

            li {
                padding: 0px;
                margin: 0px;
            }
        }
    }
}