.sort{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    label{
        padding-right: 10px;
    }

    select{
        height: 30px;
        padding: 0 15px;
        padding-right: 30px;
        line-height: 32px;
        border: 0px;
        outline: 0;
        background-color: var(--card-bg);
        border-radius: 50px;
        cursor: pointer;
        color: var(--textColor);
        box-shadow: 0px 3px 5px #00000026;
        transition: 0.3s all ease-in-out;
        -webkit-appearance: none;
        font-family: 'Nunito', sans-serif;

        &:hover{
            opacity: 0.75;
        }
    }

    svg{
        position: absolute;
        right: 10px;
        pointer-events: none;
    }
}

@media(max-width: 690px){
    .sort{
        margin-bottom: 20px;
    }

}