.app{
    background-color: var(--card-bg);
    padding: 20px;
    border: 5px solid var(--card-bg);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s all ease-in-out;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    
    .imgContainer{
        min-height: 80px;
        position: relative;
        
        img{
            width: 80px;
            height: auto;
            margin: 0 auto;
            display: block;
            user-select: none;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:hover{
       opacity: 0.75;
    }

    h3{
        margin-top: 0px;
        margin-bottom: 5px;

        img{
            user-select: none;
            width: 25px;
            height: 25px;
            display: inline-block;
            padding-right: 5px;
        }
    }
    
    .moreInfo{
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            opacity: 0.75;
            font-size: 15px;
            transition: 0.3s all ease-in-out;
            border-bottom: 3px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 3px;
            padding-top: 5px;

            svg{
                transition: 0.3s all ease-in-out;
            }

            &:hover{
                svg{
                    padding-left: 5px;
                }
            }
        }
    }
}


.selected{
    border: 5px solid var(--accent);
}

.imgHeader{
    text-align: center;
    padding: 20px;
    margin: 0px;
}

@media(max-width: 690px){
    .imgContainer{
        min-height: 50px !important;
        
        img{
            width: 50px !important
        }
    }

}