.recommendations{
    margin: 16px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
}

@media(max-width: 450px){
    .recommendations{
        grid-template-columns: 1fr;
    }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.packHeader{
    display: block;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    padding-top: 30px;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        opacity: 0.85;

        svg{
          animation: bounce 0.8s ease-in-out infinite forwards ;
        }
    }

    svg{
        font-size: 20px;
        transition: 0.3s all ease-in-out;
    }

    h3{
        margin: 0px;
        padding-bottom: 5px;
    }

    p{
        margin: 0px;
        opacity: 0.85;
    }
}

.recommendation{
    background-color: var(--card-bg);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.1s all ease-in-out;
    box-shadow: 0px 3px 5px #00000026;
}

.packListContainer{
    padding: 20px;
  

    h3{
        border-bottom: 3px solid var(--accent);
        padding: 0px;
        margin: 0px;
        margin-bottom: 20px;
    }

}

.appContainer{
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    margin-bottom: 10px;

    a{
        display: flex;
        color: inherit;
        text-decoration: none;
        transition: 0.3s all ease-in-out;

        &:hover{
            opacity: 0.75;
        }
    }

    img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    h4{
        margin: 0px;
        line-height: 30px;
    }

    .selectApp {
        text-decoration: none;
        color: var(--textColor);
        transition: 0.3s all ease-in-out;
        cursor: pointer;
        border: 0px;
        background-color: transparent;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        flex-shrink: 0;
        padding: 0px !important;

        svg{
            padding-right: 0px !important;
            margin-top: 0px !important;
            width: 20px;
            height: 20px;
            color: var(--textColor);
            transition: 0.1s all ease-in-out;
        }

        &:active, &:focus{
            opacity: 0.7 !important;
        }

        &:hover{
            opacity: 0.75;
        }
    }
}

.selected{
    .selectApp{
        svg{
            transform: rotate(45deg);
            color: var(--accent);
        }

        &:active, &:focus{
            opacity: 1 !important;
        }
    }
}

.viewPack{
    svg{
        transition: 0.3s all ease-in-out;
    }

    &:hover{
        svg{
            padding-left: 5px;
        }
    }
}

